#wrapper {
    width: 80%;
    margin: auto;

}

#header {
    background-color: #E2E6EE;
    padding: 10px;
}

#header>h1 {
    font-size: 200%;
    font-family: verdana;
}

h2 {
    font-size: 130%;
    font-family: verdana;
}

#user_info {
    font-size: 10px;
    font-weight: bold;
}

#content {
    margin: 12px 0;
    float: left;
    font-family: verdana;
}

#menu_bar {
    margin: 6px 0;
    padding: 5px;
    background-color: #dadada;
    font-family: verdana;
}

#side_bar {
    margin: 12px 0;
    padding: 4px;
    width: 30%;
    float: right;
    clear: none;
    border: 1px;
    font-family: verdana;
    font-size: 12px;
}

ul {
    list-style-type: none;
}

li {
    font-family: "trebuchet ms";
    font-size: 12px;
}

#footer {
    clear: both;
    padding: 10px;
    align: right;
    background-color: #dadada;
    font-family: verdana;
    font-size: 10px
}

h1 {
    font-size: 150%;
}

p {
    font-family: verdana;
    font-size: 12px;
}

a {
    font-size: 12px;
    text-decoration: none;
}

code {
    font-family: monospace;
    font-size: 11px;
}

a:link {
    color: #2E9AFE;
    font-weight: bold
}

a:visited {
    font-weight: bold;
    color: #2E9AFE;
}

a:hover {
    font-weight: bold;
    color: #FA5858;
}

a:active {
    font-weight: bold;
    color: #2E9AFE;
}
