%html
  %head
    %title Photo Box
    %link(rel="stylesheet" href="/css/styles.css")
  %body
    #wrapper
      #header
        %h1 Welcome to PhotoBox

      - @is_not_protected = (request.path_info == "/login" || request.path_info == "/register" || request.path_info == "/logout")

      - if session[:user] || @is_not_protected
        #menu_bar
          %table{ :width => "100%", :cellpadding => "10"}
            %tr(cellspacing="15")
              %td(width="1%")
                %a(href="/") Home

              %td(width="1%")
                %a(href="/upload") Upload Photos

              %td(width="1%")
                %a(href="/my") My Photos

              %td{:align=>"right"}
                #user_info Logged in as: #{session[:user]}
                %a(href="/logout") Logout

        = yield
      - else
        #content
          %a(href="/login") Login
          %p
          %a(href="/register") Register

      #footer
        VMware vCHS Services - Radio 2014 Demo App
