%html
  %head
    %title Photo Box
    %link(rel="stylesheet" href="/css/styles.css")
  %body
    #wrapper
      #header
        %h1 Welcome to PhotoBox

      #menu_bar
        %table(cellpadding="5px")
          %tr
            %td
              %a(href="/") Home
            %td
              %a(href="/upload") Upload Photos


      = yield

      #footer
        VMware vCHS Services - Radio 2014 Demo App
